@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #03000a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0416;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7c3aed, #4c1d95);
  border-radius: 9999px;
}
